# Assignment No.2

I imported two datasets from kaggle -- one is about the heart attack rate and its factors and the other one is a dataset about road accident. I've attached the two csv files.

In [99]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Question No.1

### Which one has a higher impact on the heart attack rate? Diabetes or smoking?

### Sudo Code
1.  Compute the Heart Attack Rates for smokers and non-smokers
2.  Compute the Heart Attack Rates for patients with diabetes and without diabetes
3.  Combine the dataframes

### Access the data

In [101]:
heart_attack = pd.read_csv("updated_version.csv")
print(heart_attack.head())

   age  sex  total_cholesterol         ldl        hdl  systolic_bp  \
0   57    1         229.463642  175.879129  39.225687   124.070127
1   58    1         186.464120  128.984916  34.950968    95.492552
2   37    1         251.300719  152.347592  45.913288    99.519335
3   55    1         192.058908  116.803684  67.208925   122.460002
4   53    1         151.203448  107.017396  60.693838   123.022257

   diastolic_bp  smoking  diabetes  heart_attack
0     91.378780        0         0             0
1     64.355040        1         0             0
2     64.953147        0         1             0
3     73.821382        0         0             0
4     81.121946        0         1             0

### Check for NA values

In [10]:
diab = heart_attack['diabetes'].dropna()
smok = heart_attack['smoking'].dropna()

0    0
1    0
2    1
3    0
4    1
Name: diabetes, dtype: int64

### Compute the Heart Attack Rates for smokers and non-smokers

In [79]:
heart_attack_by_smoking = heart_attack.groupby('smoking')['heart_attack'].mean().reset_index()
heart_attack_by_smoking.columns = ['Factor', 'Heart Attack Rate']
heart_attack_by_smoking['Factor'] = heart_attack_by_smoking['Factor'].map({0: 'Non-Smoker', 1: 'Smoker'})


print(heart_attack_by_smoking)

       Factor  Heart Attack Rate
0  Non-Smoker           0.071429
1      Smoker           0.232673

### Compute the Heart Attack Rates for patients with diabetes and without diabetes

In [80]:
heart_attack_by_diabetes = heart_attack.groupby('diabetes')['heart_attack'].mean().reset_index()
heart_attack_by_diabetes.columns = ['Factor', 'Heart Attack Rate']
heart_attack_by_diabetes['Factor'] = heart_attack_by_diabetes['Factor'].map({0: 'No Diabetes', 1: 'Diabetes'})

print(heart_attack_by_diabetes)

        Factor  Heart Attack Rate
0  No Diabetes           0.075824
1     Diabetes           0.388889

### Combine the dataframes

In [81]:
combined_heart_attack_factors = pd.concat([heart_attack_by_smoking, heart_attack_by_diabetes], ignore_index=True)
print(combined_heart_attack_factors)

        Factor  Heart Attack Rate
0   Non-Smoker           0.071429
1       Smoker           0.232673
2  No Diabetes           0.075824
3     Diabetes           0.388889

### Final Construction

In [ ]:
def compare_heart_attack_factors(data):
    data = data[['heart_attack', 'smoking', 'diabetes']].dropna()
    
    heart_attack_by_smoking = data.groupby('smoking')['heart_attack'].mean().reset_index()
    heart_attack_by_smoking.columns = ['Factor', 'Heart Attack Rate']    
    heart_attack_by_smoking['Factor'] = heart_attack_by_smoking['Factor'].map({0: 'Non-Smoker', 1: 'Smoker'})

    heart_attack_by_diabetes = data.groupby('diabetes')['heart_attack'].mean().reset_index()
    heart_attack_by_diabetes.columns = ['Factor', 'Heart Attack Rate']
    heart_attack_by_diabetes['Factor'] = heart_attack_by_diabetes['Factor'].map({0: 'No Diabetes', 1: 'Diabetic'})

    combined_heart_attack_factors = pd.concat([heart_attack_by_smoking, heart_attack_by_diabetes], ignore_index=True)
    
    return combined_heart_attack_factors

heart_attack_factors_df = compare_heart_attack_factors(heart_attack)
print(heart_attack_factors_df)

        Factor  Heart Attack Rate
0   Non-Smoker           0.071429
1       Smoker           0.232673
2  No Diabetes           0.075824
3     Diabetic           0.388889

## Question 2

### Does smoking have a significant impact on LDL cholesterol levels?

### Sudo Code
1. Group the data set into smokers and non-smokers
1. Calculate the mean value of LDL for both group

In [ ]:
heart_attack[['ldl', 'smoking']].isnull().sum()

ldl        0
smoking    0
dtype: int64

### Calculate the mean value of LDL based on non-smoker group and smoker group

In [19]:
ldl_by_smoking = heart_attack.groupby('smoking')['ldl'].mean()
print(ldl_by_smoking)

smoking
0    132.093487
1    121.966360
Name: ldl, dtype: float64

### Final Construction

In [97]:
def compute_ldl_by_smoking(data):
    data = data[['ldl', 'smoking']].dropna()
    
    ldl_by_smoking = data.groupby('smoking')['ldl'].mean().reset_index()
    ldl_by_smoking.columns = ['Smoking Status', 'Mean LDL Cholesterol']
    
    return ldl_by_smoking

print(compute_ldl_by_smoking(heart_attack))

   Smoking Status  Mean LDL Cholesterol
0               0            132.093487
1               1            121.966360

Non-smoking people are less likely to have LDL (Low-Density Lipoprotein) cholesterol. LDL often leads to the buildup of plaque in the arteries, which can increase the risk of cardiovascular diseases such as heart attack and stroke.

### Road Accident data

In [21]:
roadacc = pd.read_csv("road_accident_dataset.csv")
print(roadacc.head())

  Country  Year     Month Day of Week Time of Day Urban/Rural  Road Type  \
0     USA  2002   October     Tuesday     Evening       Rural     Street
1      UK  2014  December    Saturday     Evening       Urban     Street
2     USA  2012      July      Sunday   Afternoon       Urban    Highway
3      UK  2017       May    Saturday     Evening       Urban  Main Road
4  Canada  2002      July     Tuesday   Afternoon       Rural    Highway

  Weather Conditions  Visibility Level  Number of Vehicles Involved  ...  \
0              Windy        220.414651                            1  ...
1              Windy        168.311358                            3  ...
2              Snowy        341.286506                            4  ...
3              Clear        489.384536                            2  ...
4              Rainy        348.344850                            1  ...

   Number of Fatalities Emergency Response Time Traffic Volume  \
0                     2               58.625720    7412.752760
1                     1               58.041380    4458.628820
2                     4               42.374452    9856.915064
3                     3               48.554014    4958.646267
4                     4               18.318250    3843.191463

   Road Condition      Accident Cause Insurance Claims  Medical Cost  \
0             Wet             Weather                4  40499.856982
1    Snow-covered  Mechanical Failure                3   6486.600073
2             Wet            Speeding                4  29164.412982
3             Icy  Distracted Driving                3  25797.212566
4             Icy  Distracted Driving                8  15605.293921

   Economic Loss         Region  Population Density
0   22072.878502         Europe         3866.273014
1    9534.399441  North America         2333.916224
2   58009.145124  South America         4408.889129
3   20907.151302      Australia         2810.822423
4   13584.060759  South America         3883.645634

[5 rows x 30 columns]

## Question 1

###  Is there any difference between low, moderate and high level alcohol consumption in terms of the fatality rate?

### Sudo Code
1. Categorize Driver alcohol level into low, medium, and high level
2. Compute Mean Fatalities for Each Alcohol Category

### Clean the data

In [22]:
roadacc[['Driver Alcohol Level','Number of Fatalities']].dropna()

        Driver Alcohol Level  Number of Fatalities
0                   0.051921                     2
1                   0.234893                     1
2                   0.142366                     4
3                   0.120815                     3
4                   0.155842                     4
...                      ...                   ...
131995              0.055295                     0
131996              0.077918                     4
131997              0.063216                     3
131998              0.013100                     2
131999              0.140279                     4

[132000 rows x 2 columns]

### Categorize Driver alcohol level into low, medium, and high level

In [23]:
roadacc['Alcohol Category'] = roadacc['Driver Alcohol Level'].apply(
    lambda x: 'No Alcohol' if x == 0 else
              'Low Alcohol' if 0 < x <= 0.05 else
              'Moderate Alcohol' if 0.05 < x <= 0.10 else
              'High Alcohol'
)

### Compute Mean Fatalities for Each Alcohol Category

In [25]:
fatalities_by_alcohol = roadacc.groupby('Alcohol Category')['Number of Fatalities'].mean().reset_index()
fatalities_by_alcohol.columns = ['Alcohol Category', 'Mean Fatalities']
print(fatalities_by_alcohol.head())

   Alcohol Category  Mean Fatalities
0      High Alcohol         1.997338
1       Low Alcohol         1.991136
2  Moderate Alcohol         1.994028

### Final Construction

In [98]:
def alcohol_vs_fatalities(data):
    data = data[['Driver Alcohol Level', 'Number of Fatalities']].dropna()
    
    data['Alcohol Category'] = data['Driver Alcohol Level'].apply(
        lambda x: 'No Alcohol' if x == 0 else
                  'Low Alcohol' if 0 < x <= 0.05 else
                  'Moderate Alcohol' if 0.05 < x <= 0.10 else
                  'High Alcohol'
    )
    
    fatalities_by_alcohol = data.groupby('Alcohol Category')['Number of Fatalities'].mean().reset_index()
    fatalities_by_alcohol.columns = ['Alcohol Category', 'Mean Fatalities']
    
    return fatalities_by_alcohol

fatalities_alcohol_df = alcohol_vs_fatalities(roadacc)
print(fatalities_alcohol_df)

   Alcohol Category  Mean Fatalities
0      High Alcohol         1.997704
1       Low Alcohol         2.008873
2  Moderate Alcohol         1.984775

As we can see, the level of alcohol intake does not have a strong impact on the fatality rate. It's always encouraged to stay sober.

## Question 2

### On which day of the week do the most injuries occur in the USA?

In [32]:
print(roadacc.head())

  Country  Year     Month Day of Week Time of Day Urban/Rural  Road Type  \
0     USA  2002   October     Tuesday     Evening       Rural     Street
1      UK  2014  December    Saturday     Evening       Urban     Street
2     USA  2012      July      Sunday   Afternoon       Urban    Highway
3      UK  2017       May    Saturday     Evening       Urban  Main Road
4  Canada  2002      July     Tuesday   Afternoon       Rural    Highway

  Weather Conditions  Visibility Level  Number of Vehicles Involved  ...  \
0              Windy        220.414651                            1  ...
1              Windy        168.311358                            3  ...
2              Snowy        341.286506                            4  ...
3              Clear        489.384536                            2  ...
4              Rainy        348.344850                            1  ...

   Traffic Volume Road Condition      Accident Cause  Insurance Claims  \
0     7412.752760            Wet             Weather                 4
1     4458.628820   Snow-covered  Mechanical Failure                 3
2     9856.915064            Wet            Speeding                 4
3     4958.646267            Icy  Distracted Driving                 3
4     3843.191463            Icy  Distracted Driving                 8

   Medical Cost Economic Loss         Region  Population Density  \
0  40499.856982  22072.878502         Europe         3866.273014
1   6486.600073   9534.399441  North America         2333.916224
2  29164.412982  58009.145124  South America         4408.889129
3  25797.212566  20907.151302      Australia         2810.822423
4  15605.293921  13584.060759  South America         3883.645634

   Alcohol Category   Speed Category
0  Moderate Alcohol   Moderate Speed
1      High Alcohol  Very High Speed
2      High Alcohol       High Speed
3      High Alcohol       High Speed
4      High Alcohol  Very High Speed

[5 rows x 32 columns]

### Sudo Code

1. Filter the dataset to include only accidents in the USA.
2. Group the data by the day of the week and calculate the average number of injuries.

### Filter the data to USA only

In [93]:
usa = roadacc[roadacc['Country'] == 'USA']

### Group the data by the day of the week and sum the total number of injuries.

In [96]:
injuries_by_day = usa.groupby('Day of Week')['Number of Injuries'].mean().reset_index()
print(injuries_by_day)

  Day of Week  Number of Injuries
0      Friday            9.395048
1      Monday            9.293426
2    Saturday            9.581967
3      Sunday            9.442553
4    Thursday            9.596091
5     Tuesday            9.523909
6   Wednesday            9.523438

### Final Construction

In [ ]:
def day_of_the_acc(data):
    usa = data[data['Country'] == 'USA']
    injuries_by_day = usa.groupby('Day of Week')['Number of Injuries'].mean().reset_index()
    return injuries_by_day

print(day_of_the_acc(roadacc))

  Day of Week  Number of Injuries
0      Friday            9.395048
1      Monday            9.293426
2    Saturday            9.581967
3      Sunday            9.442553
4    Thursday            9.596091
5     Tuesday            9.523909
6   Wednesday            9.523438

As we can see from the data, Thursdays are when injuries are most likely to happen.